---
import { getCollection } from 'astro:content';
import MainLayout from '../layouts/MainLayout.astro';
import ExperimentCard from '../components/Lab/ExperimentCard.astro';

const notes = await getCollection('lab');
---

<MainLayout title="Lab - Kundan Gosavi">
  <div class="min-h-screen bg-white dark:bg-black">
    <div class="mx-auto max-w-6xl px-6 py-28 h-64 md:px-10 pb-28">
      <h1 class="mb-4 font-playfair text-5xl text-zinc-900 dark:text-white">My Lab</h1>
      <p class="text-gray-600 dark:text-white/50 text-base">
        Welcome to my lab! Here you'll find various experiments and projects I'm working on.
      </p>
    </div>
    
    <div class="mx-auto max-w-6xl px-6 pb-20 md:px-10">
      {notes.map((note) => (
        <ExperimentCard
          status={note.data.status}
          title={note.data.title}
          date={note.data.date}
          tried={note.data.tried}
          happened={note.data.happened}
          keyLearning={note.data.keyLearning}
          next={note.data.next}
          link={`/lab/${note.slug}`}
        />
      ))}
    </div>
  </div>
</MainLayout>

