---
const { thumbnail, altText, title, hook, Tags, category, date } = Astro.props;
---

<div class="flex items-center justify-center w-full mt-4">
    <div class="flex flex-row bg-white dark:bg-black rounded-xl shadow p-6 w-full max-w-6xl border border-gray-200 dark:border-zinc-800 min-h-[250px] mx-auto">
      <!-- Left Side (70%) -->
      <div class="flex flex-col flex-[7] pr-6 justify-between h-full">
        <div>
          <div class="flex flex-row items-center gap-6 mb-2">
            <span class="text-xs uppercase text-gray-500 dark:text-gray-400">{category}</span>
            <span class="text-sm text-gray-500 dark:text-gray-400">{date}</span>
          </div>
          <h2 class="text-xl font-serif text-2xl text-gray-900 dark:text-white mb-1">{title}</h2>
          <p class="text-gray-700 font-serif text-lg dark:text-gray-300 mb-2">{hook}</p>
          <div class="flex flex-wrap mb-4">
            {Tags.map((tag) => (
              <span class="mr-2 mb-2 px-3 py-1 bg-gray-100 dark:bg-zinc-800 text-xs font-mono rounded border border-gray-300 dark:border-zinc-700">
                {tag}
              </span>
            ))}
          </div>
        </div>
        <div>
          <a href='#' class="mt-2 text-sm font-mono text-black dark:text-white">Read More <span class="text-lg">→</span></a>
          
        </div>
      </div>
      <!-- Right Side (30%) -->
      <div class="flex flex-col flex-[3] items-center justify-center h-full">
        <img src={thumbnail} alt={altText} class="w-80 h-60 rounded-md border border-gray-300 object-cover" />
      </div>
    </div>
</div>
